body {
    padding: 50px 20%;
}
h1, h2, h3, b, strong {
    color: plum;
}
h1, h3 {
    text-align: center;
}
h2 {
    text-align: right;
    border-bottom: 1px solid lightslategrey;
}
hr {
    border-top: 1px dashed lightslategray;
    margin-left: 25%;
    margin-right: 25%;
}
p {
    color: darkslategray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;
}
blockquote {
    color: darkslategray;
    font-style: italic;
    text-align: justify;
}