body {
    padding: 50px 20%;
    color: darkslategray;
    font-family: "Source Code Pro", Georgia, serif;
    text-align: justify;
}
h1, h2, h3, b, strong {
    color: plum;
}
h1, h3 {
    text-align: center;
}
h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px 8px dodgerblue;
}
h2 {
    text-align: right;
    border-bottom: 1px solid lightslategrey;
    font-style: oblique;
}
hr {
    border-top: 3px dashed lightslategray;
    margin-left: 25%;
    margin-right: 25%;
}
blockquote {
    color: darkslategray;
    font-style: italic;
    text-align: justify;
}
#big-achievement {
    color: red;
}
.class_italics{
    font-style: italic;
}
p::first-letter {
    font-size: 125%;
    font-weight: bold;
    text-decoration: underline;
}